zephyr_udc1: &usbotg_hs {
	status = "okay";
	maximum-speed = "full-speed"; // Force full speed to be able to use the internal PHY
	pinctrl-0 = < &usb_otg_hs_dm_pb14 &usb_otg_hs_dp_pb15 >;
	pinctrl-names = "default";
};
