&timer022 {
	status = "okay";
};

/*
 * DPPI connection from timer 022 to the radio core IPCT.
 *
 * Radio core local domain : TIMER022 -> DPPIC020 -> IPCT -> ...
 */
&cpurad_ipct {
	status = "okay";
	// Keep the already attributed channel link #2
	source-channel-links = <2 NRF_DOMAIN_ID_GLOBALSLOW 2>, <4 NRF_DOMAIN_ID_GLOBALSLOW 4>;
};

&dppic020 {
	status = "okay";
	// This is a local DPPIC instance, so there is no "owned-channels" property
	source-channels = < 4 >;
};
