&pinctrl {
	spim131_default: spim131_default {
		group1 {
			psels = < NRF_PSEL(SPIM_MISO, 9, 2) >,
				< NRF_PSEL(SPIM_MOSI, 9, 0) >,
				< NRF_PSEL(SPIM_SCK, 9, 1) >,
				< NRF_PSEL(SPIM_CSN, 9, 3) >;
		};
	};
};

&spi131 {
	status = "okay";
	pinctrl-0 = < &spim131_default >;
	pinctrl-names = "default";
};

&timer132 {
	status = "okay";
};

/*
 * DPPI connection from timer 132 to SPIM 131.
 * Note that most of the PPI systems are connected only to the APB32 system.
 *
 * PPI system APB3B : TIMER132 -> DPPIC134 -> PPIB135 -> ...
 * PPI system APB32 : ... -> PPIB130 -> DPPIC130 -> PPIB130 -> ...
 * PPI system APB3A : ... -> PPIB134 -> DPPIC133 -> SPIM131
 */
&dppic134 {
	status = "okay";
	owned-channels = < 4 >;
	source-channels = < 4 >;
};

&dppic130 {
	status = "okay";
	owned-channels = < 4 >;
	source-channels = < 4 >;
	sink-channels = < 4 >;
};

&dppic133 {
	status = "okay";
	owned-channels = < 4 >;
	sink-channels = < 4 >;
};

// Remove all features assigned to the SPIM131 pins
/ {
	aliases {
		/delete-property/ led0;
		/delete-property/ led1;
		/delete-property/ led2;
		/delete-property/ led3;
		/delete-property/ pwm-led0;
		/delete-property/ mcuboot-led0;
	};

	/delete-node/ leds;

	/delete-node/ pwmleds;
};
&pwm130 {
	status = "disabled";
};
